.bg {
  background: #ffffff;
}
.margin {
  margin-top: -15px;
}
.fr {
  margin-top: 0 ;
  margin-bottom: 0;
  float: right;
  padding-left: 0px;
  padding-right: 0px;
}
.top {
  border-top: 0 ;
}
.phone {
  background: #ff4f01;
  font-family: Arial Regular;
  font-size: 18px;
  width: 221px;
  height: 41px;
  text-align: center;
  line-height: 40px;
  float: right;
}
.phone-img {
  line-height: 40px;
  margin-right: 10px;
  margin-top: -3px;
}
.navbar-default .navbar-nav > li > a {
  color: #aaaaaa;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #03b3e5;
  font-weight: normal;
  font-size: 16px;
  background: #ffffff ;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #03b3e5;
  font-weight: normal;
  background: #ffffff ;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 3px #03b3e5 solid;
}
.kadima_service {
  padding-top: 0px;
  padding-bottom: 0px;
}
.title {
  text-align: center;
  font-family: Arial Bold;
  color: #414141;
}
.padding {
  padding: 0px;
}
.kadima-p {
  font-size: 16px;
  color: #fff;
  background: #03b3e5;
  font-family: Arial Regular;
  text-align: center;
  height: 35px;
  line-height: 35px;
}
.kadima-p2 {
  font-size: 16px;
  color: #414141;
  font-family: Arial Regular;
  text-align: center;
}
.kadima-div {
  padding: 0px;
  height: 100px;
  border: solid 1px #03b3e5;
  float: left;
  display: inline-block;
  margin-right: 4.16666667%;
  text-align: center;
  line-height: 100px;
  margin-bottom: 70px;
}
.hov:hover {
  background: #03b3e5;
}
.kadima-bg {
  width: 100%;
  height: 100px;
  background: url("images/xwy_1.png") no-repeat center center;
}
.kadima-bg:hover {
  background: url("images/xwy-36.png") no-repeat center center;
}
.kadima-bg2 {
  width: 100%;
  height: 100px;
  background: url("images/xwy-37.png") no-repeat center center;
}
.kadima-bg2:hover {
  background: url("images/xwy_3.png") no-repeat center center;
}
.kadima-bg3 {
  width: 100%;
  height: 100px;
  background: url("images/xwy_2.png") no-repeat center center;
}
.kadima-bg3:hover {
  background: url("images/xwy-38.png") no-repeat center center;
}
.kadima-bg4 {
  width: 100%;
  height: 100px;
  background: url("images/xwt-4.png") no-repeat center center;
}
.kadima-bg4:hover {
  background: url("images/xwy-39.png") no-repeat center center;
}
.kadima-bg5 {
  width: 100%;
  height: 100px;
  background: url("images/xwy_4.png") no-repeat center center;
}
.kadima-bg5:hover {
  background: url("images/xwy-40.png") no-repeat center center;
}
.kadima-divlast {
  padding: 0px;
  height: 100px;
  border: solid 1px #03b3e5;
  float: left;
  display: inline-block;
  margin-right: 4.16666667%;
  text-align: center;
  line-height: 100px;
  margin-bottom: 70px;
  margin-right: 0;
}
.kadima-box {
  width: 90%;
  height: 23px;
  background: #03b3e5;
  margin: -10px auto 0px auto;
  font-size: 12px;
  color: #fff;
  line-height: 23px;
}
.ma {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
}
.ma2 {
  width: 50%;
  margin-bottom: 10px;
}
.kadima-h1 {
  font-family: Arial Bold;
  color: #414141;
  line-height: 45px;
}
.kadima-h {
  font-family: Arial Bold;
  color: #525252;
}
.article {
  width: 80%;
  height: 220px;
  font-family: Arial Regular;
  font-size: 14px;
  color: #262626;
  line-height: 30px;
  text-align: left;
}
.more {
  width: 120px;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  background: #03b3e5;
  display: inline-block;
  float: left;
}
.jiantou {
  width: 120px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  border: solid 1px #03b3e5;
  display: inline-block;
  float: left;
}
.mainproduct {
  width: 100%;
  height: 219px;
  background: url("images/xwy-21.png") 100% 100%;
  z-index: 10;
  margin-top: 65px;
}
.zhezhao {
  width: 100%;
  height: 219px;
  background: #000000;
  opacity: .6;
  margin-top: -219px;
}
.text {
  width: 100%;
  height: 219px;
  margin-top: -219px;
}
.mainproduct-size {
  color: #fff;
  text-align: center;
  width: 80%;
  margin: auto;
}
.mainproduct-span2 {
  width: 100%;
  font-size: 23px;
  margin-top: 10px ;
  line-height: 43px;
  margin-top: 50px;
}
.mainproduct-btn {
  width: 170px;
  height: 50px;
  margin-top: 70px;
  color: #ffffff;
  background: #ff4f01;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-family: Arial Regular;
}
.mainproduct-content {
  width: 100%;
  margin-top: 65px;
}
.mainproduct-box {
  height: auto;
  margin-top: 10px;
}
.mainproduct-text {
  width: 98%;
  height: 370px;
  float: right;
}
.mainproduct-text h1 {
  font-family: Arial Bold;
  line-height: 55px;
  color: #414141;
}
.mainproduct-text-blue {
  width: 116px;
  height: 4px;
  background: #03b3e5;
}
.mainproduct-text2 {
  width: 80%;
  font-family: Arial Regular;
  font-size: 14px;
  line-height: 30px;
  color: #262626;
  margin-top: 80px;
  justify-content: space-between;
}
.mainproduct-box3 {
  width: 98%;
  height: 370px;
  float: right;
  border: 16px solid #9feaff;
}
.mainproduct-box3 p {
  font-size: 36px;
  font-family: Arial Regular;
  color: #545454;
  text-align: center;
  margin-top: 105px;
}
.mainproduct-ma {
  margin-left: 188px;
}
.mainproduct-box3-div {
  width: 64px;
  height: 64px;
  border: solid 1px;
  margin: 10px;
  float: left;
  text-align: center;
  line-height: 64px;
}
.mainproduct-box3-div:hover {
  background: #03b3e5;
}
.mainproduct-sheet {
  width: 100%;
  height: 60px;
  background: #f4f4f4;
}
.mainproduct-sheet2 {
  width: 100%;
  height: 60px;
  background: #f4f4f4;
}
.mainproduct-text p {
  font-family: Arial Regular;
  color: #2c2c2c;
  font-size: 24px;
  line-height: 60px;
  margin-left: 20px;
  display: inline-block;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 14px solid #2c2c2c;
  border-bottom: 7px solid transparent;
  display: inline-block;
  margin-left: 10px;
}
.mainproduct-img {
  width: 100%;
  height: 310px;
  background: #9feaff;
  text-align: center;
  line-height: 310px;
}
.mainproduct-img img {
  transition: all 0.8s;
}
.mainproduct-img img:hover {
  transform: scale(1.1);
}
.mainproduct-img2 img {
  transition: all 0.8s;
}
.mainproduct-img2 img:hover {
  transform: scale(1.1);
}
.mainproduct-img2 {
  width: 100%;
  height: 310px;
  background: #9feaff;
  text-align: center;
  line-height: 310px;
  background: #f4f4f4;
}
.mainproduct-sheet3 {
  width: 100%;
  height: 60px;
  background: #9feaff;
}
.mainproduct2 {
  width: 100%;
  height: 219px;
  background: url("images/xwy-21.png") 100% 100%;
  z-index: 10;
  margin-top: 65px;
  background: url("images/xwy-28.png") 100% 100%;
}
.mainproduct-span4 {
  font-size: 22px;
}
.appliction-h1 {
  text-align: center;
  color: #414141;
  font-family: Arial Bold;
}
.app-blue {
  width: 116px;
  height: 4px;
  background: #03b3e5;
  margin: 10px auto 50px ;
}
.app-img {
  position: relative;
}
.app-p {
  color: #ffffff;
  font-size: 24px;
  font-family: Arial Regular;
  position: absolute;
  top: 85%;
  left: 5%;
  z-index: 2;
}
.kadima_callout_area {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
  overflow: hidden;
}
.kadima_footer_widget_area {
  background: url("images/xwy-42.png");
}
.ka-foot {
  background: url("images/xwy-42.png");
}
.kadima_footer_widget_title {
  font-size: 24px;
  margin: 0px 0px 25px 0px;
  line-height: 25px;
  letter-spacing: 1px;
  font-family: Arial Bold;
}
.kadima_recent_widget_post h3,
.kadima_footer_widget_column ul li a {
  font-size: 22px;
  line-height: 40px;
  margin-bottom: 2px;
  margin-top: -2px;
  font-family: Arial Regular;
  color: #ababab;
}
.kadima_footer_area {
  background: url("images/xwy-43.png");
  border-top: 0px solid #6B6B6B;
}
.kadima_footer_area p {
  color: #8c8c8c;
  font-size: 14px;
  font-family: Arial Regular;
  text-align: left;
}
.hot-sale {
  font-family: Arial Bold;
  font-size: 65px;
  color: #01c5ff;
  line-height: 44px;
  position: absolute;
  top: -15%;
  left: -21%;
}
.hot-white {
  font-family: Arial Regular;
  font-size: 29px;
  color: #ffffff;
  position: absolute;
  top: 0%;
  left: -21%;
  width: 300px;
  text-align: left;
  margin-top: 30px;
  display: inline-block;
  line-height: 50px;
}
.hot-blue {
  width: 10px;
  height: 10px;
  background: #01c5ff;
  display: inline-block;
}
.hot-more {
  width: 120px;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  background: #03b3e5;
  display: inline-block;
  float: left;
  position: absolute;
  top: 69%;
  left: 20%;
}
.kadima-img2 {
  display: none;
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.foot-topdiv {
  margin-top: 170px;
  text-align: center;
}
.img-max {
  height: auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .app-img {
    position: relative;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .hot-sale {
    font-family: Arial Bold;
    font-size: 30px;
    color: #01c5ff;
    line-height: 44px;
    position: absolute;
    top: -15%;
    left: -12%;
  }
  .hot-white {
    font-family: Arial Regular;
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    top: 0%;
    left: -12%;
    width: 200px;
    text-align: left;
    margin-top: 35px;
    display: inline-block;
    line-height: 25px;
  }
  .hot-more {
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    background: #03b3e5;
    display: inline-block;
    float: left;
    position: absolute;
    top: 73%;
    left: 24%;
  }
  .phone {
    display: none;
  }
  .mainproduct-img img:hover {
    transform: scale(1.05);
  }
  .mainproduct-img2 img:hover {
    transform: scale(1.05);
  }
  .mainproduct-span {
    width: 100%;
    font-size: 15px;
    margin-top: 20px;
    color: #fff;
  }
  .mainproduct-span2 {
    width: 100%;
    font-size: 15px;
    margin-top: 15%;
    line-height: 20px;
  }
  .mainproduct-btn {
    width: 120px;
    height: 40px;
    margin: 10px auto 0px;
    color: #ffffff;
    background: #ff4f01;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-family: Arial Regular;
  }
  .app-p {
    color: #ffffff;
    font-size: 18px;
    font-family: Arial Regular;
    position: absolute;
    top: 85%;
    left: 13%;
    z-index: 2;
  }
  #menu {
    width: 100%;
    text-align: center;
  }
  .ma {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 50%;
  }
  .mainproduct-text2 {
    width: 80%;
    font-family: Arial Regular;
    font-size: 14px;
    line-height: 30px;
    color: #262626;
    margin-top: 40px;
    justify-content: space-between;
  }
  .mainproduct-content {
    width: 100%;
    margin-top: 20px;
  }
  .kadima-divlast {
    padding: 0px;
    height: 100px;
    border: solid 1px #03b3e5;
    float: left;
    display: inline-block;
    margin-right: 4.16666667%;
    text-align: center;
    line-height: 100px;
    margin-bottom: 70px;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .main-img {
    margin-top: 30px;
  }
  .mainproduct {
    width: 100%;
    height: 219px;
    background: url("images/xwy-21.png") 100% 100%;
    z-index: 10;
    margin-top: 65px;
    margin-top: 40px;
  }
  .mainproduct2 {
    width: 100%;
    height: 219px;
    background: url("images/xwy-21.png") 100% 100%;
    z-index: 10;
    margin-top: 65px;
    background: url("images/xwy-28.png") 100% 100%;
    margin-top: 40px;
  }
  .app-blue {
    width: 116px;
    height: 4px;
    background: #03b3e5;
    margin: 10px auto 50px ;
    margin: 10px auto 20px;
  }
  .foot-topdiv {
    margin-top: 60px;
    text-align: center;
  }
  .navbar {
    position: relative;
    min-height: 0px;
    height: 0px;
    margin-bottom: 20px;
  }
  #menu {
    margin-top: -50px;
  }
}
.navbar-header {
  display: inline-block;
  position: relative;
  top: -50px;
  left: 84%;
}
.navbar-nav {
  margin: 0px;
}
